/* ----------Navigation Bar---------- */

#navbar {
    flex-direction: column;
}

#navbar ul li {
    padding-bottom: 8px;
}

#navbar ul li a {
    font-size: 1.09rem;
    padding: 0 7px;
    text-align: center;
}

/* ----------Home Section---------- */

#home {
    height: 380px;
    padding: 10px 30px;
}

#home::before {
    height: 507px;
}

#home p {
    font-size: 0.85rem;
}

/* ----------Services Section---------- */

#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* ----------Clients-Section---------- */

#clients {
    flex-wrap: wrap;
}

.client-item img {
    width: 65px;
}

#img1 img,
#img3 img {
    width: 35px;
}

/* ----------Contact-Section---------- */

#contact-box form {
    width: 80%;
}

/* ----------Utility Classes---------- */

.h-primary {
    font-size: 1.7rem;
}

.h-secondary {
    font-size: 1.2rem;
}

h2{
font-size: 1rem ;
}

.btn {
    font-size: 0.8rem;
    padding: 4px 10px;
}